<!doctype html>
<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="/static/chat.css?v=7" />
  </head>
  <body>
    <div class="app">
      <div class="sidebar">
        <div class="profile">
          <div class="avatar" id="avatar">U</div>
          <div class="profile-info">
            <div class="username" id="loggedUser">User</div>
            <div class="status">Online</div>
          </div>
        </div>

        <div class="sidebar-header">
          <h2>Chats</h2>
          <div class="actions">
            <button onclick="goToGroups()">Add Group</button>
            <button onclick="logout()">Logout</button>
          </div>
        </div>

        <div class="section-title">Groups</div>
        <div id="groups"></div>

        <div class="section-title">Users</div>
        <div id="users"></div>
      </div>

      <div class="chat-area">
        <div id="chat-header">Select a chat</div>

        <div id="messages"></div>

        <div class="input-area">
          <input id="messageInput" placeholder="Type message..." />

          <input type="file" id="imageInput" accept="image/*" hidden />

          <button
            class="icon-btn"
            onclick="document.getElementById('imageInput').click()"
          >
            📎Image
          </button>

          <span id="fileName" class="file-name"></span>

          <div id="previewContainer" class="preview hidden">
            <img id="previewImage" />
            <button onclick="removeImage()">❌</button>
          </div>

          <button onclick="sendCombined()">Send</button>
        </div>
      </div>
    </div>

    <script src="/static/chat.js?v=23"></script>

    <script>
      function goToGroups() {
        window.location.href = "/groups-page";
      }
    </script>
  </body>
</html>
